.App {
  height: 100vh;
  width: max-content;
  place-content: center;
  margin: auto;
  overflow: hidden;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    'buttons'
    'content'
  ;
}

.buttons {
  grid-area: buttons;
}
.content {
  grid-area: content;
  background: #282c34;
  width: 695px;
  color: white;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


button {
  border-style: none;
  padding: 1em 2em;
  font-size: 2em;
}
button:hover {
  background: #282c3467;
  color: rgb(36, 34, 34);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
button:focus {
  background: #282c34;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

h2 {
  font-size: 3em;
}

p{
  padding: 1em 2em;
}
.active {
  background: #282c34;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}